---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      <div class="mode-content mode-content--research">
        {{ content }}
        {% include after-content.html %}
      </div>
      <div class="mode-content mode-content--life" style="display:none">
        <div id="tab-travel" class="life-tab">
          <h3 class="archive__subtitle">My Favorite Cities Top 10</h3>
          <ul class="city-list">
            <li>Shanghai</li>
            <li>Kyoto</li>
            <li>Paris</li>
            <li>Vancouver</li>
            <li>Toronto</li>
            <li>New York City</li>
            <li>Cologne</li>
            <li>Boston</li>
            <li>Napa</li>
            <li>Nashville</li>
          </ul>
          
          <div class="life-section">
            <h4>Canada</h4>
            <div class="life-map">
              <img src="{{ '/assets/images/maps/canada.svg' | relative_url }}" alt="Canada map" />
            </div>
          </div>
          <div class="life-section">
            <h4>USA</h4>
            <div class="life-map">
              <img src="{{ '/assets/images/maps/usa.svg' | relative_url }}" alt="USA map" />
            </div>
          </div>
          <div class="life-section">
            <h4>Europe</h4>
            <div class="life-map">
              <img src="{{ '/assets/images/maps/europe.svg' | relative_url }}" alt="Europe map" />
            </div>
          </div>
        </div>
        <div id="tab-snooker" class="life-tab" style="display:none">
          <h3 class="archive__subtitle">Snooker</h3>
        </div>
        <div id="tab-car" class="life-tab" style="display:none">
          <h3 class="archive__subtitle">Car</h3>
        </div>
      </div>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
