---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ "About Me" }}</h3>
<p>
Hi there! 
</p>
<p>
I am a PhD student in ECE department at <a href="https://www.queensu.ca/"><img src="{{ '/assets/images/queensu_badge.png' | relative_url }}" alt="Queen's University" style="height: 1.2em; vertical-align: middle; margin: 0 2px;" />Queen's University</a> supervised by Prof. <a href="https://www.xiaodanzhu.com/">Xiaodan Zhu</a>. 
I am also currently an affiliated researcher at <a href="https://vectorinstitute.ai/"><img src="{{ '/assets/images/vector_logo.png' | relative_url }}" alt="Queen's University" style="height: 1.2em; vertical-align: middle; margin: 0 2px;" />Vector Institute for Artifical Intelligence</a> and a research intern at <a href="https://nrc.canada.ca/en"><img src="{{ '/assets/images/nrcc_logo.png' | relative_url }}" alt="Queen's University" style="height: 1.2em; vertical-align: middle; margin: 0 2px;" />National Research Council Canada</a>.
My current research focus on LLM inference time interpretability and its application in the context of AI-accelerated scientific discovery. 
</p>
<p>
Earlier, I completed my degree in Master’s Science at <a href="https://cds.nyu.edu/"><img src="{{ '/assets/images/cds_logo.jpg' | relative_url }}" alt="Queen's University" style="height: 1.2em; vertical-align: middle; margin: 0 2px;" />NYU Center for Data Science</a> and Bachlor's degree at <a href="https://shanghai.nyu.edu"><img src="{{ '/assets/images/NYUSH_logo.png' | relative_url }}" alt="Queen's University" style="height: 1.2em; vertical-align: middle; margin: 0 2px;" />NYU Shanghai</a>
I also had the previlige to work with Dr. Lei Chen at Rakuten Institute for Technology and published my very first work at EMNLP24 Industry Track.
</p>

<!-- <h3 class="archive__subtitle">{{ "site.data.ui-text[site.locale].recent_posts | default: "Latest News"" }}</h3> -->
<h3 class="archive__subtitle">{{ "Latest News" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<!-- <div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div> -->

<div>
  <ul>
    <li>2026.06 I am serving as an reviewer in NeurIPS26. </li>
    <li>2026.04 <a href="https://arxiv.org/abs/2507.15736"> IDRBench</a> recently got accepted at the ICML 2026 Main Conference. </li>
    <li>2026.03 I am serving as an reviewer in ICML26. </li>
    <li>2025.07 <a href="https://openreview.net/pdf?id=1HLwSpJZCh"> IDRBench</a> got accepted at the ICML 2025 World Models Workshop. </li>
    <li>2024.11 <a href="https://aclanthology.org/2024.emnlp-industry.59"> SMARTCAL</a> got accepted to EMNLP 24 Industry Track. </li>
    <!-- <li>Item 2</li>
    <li>Item 3</li> -->
  </ul>
</div>


<div class="entries-{{ tags_layout }}">
  {% include page__taxonomy.html %}
</div>

{% include paginator.html %}
