---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ "About Me" }}</h3>
<p>
Hi there! 
</p>
<p>
I am a first year PhD student in ECE department at <b>Queen’s University</b> supervised by Prof. <a href="https://www.xiaodanzhu.com/">Xiaodan Zhu</a>. 
My current research interest focus on applying LLM reasoning capabilities in the context of AI-accelerated scientific discovery. 
</p>
<p>
I obtained my Master’s degree at <b>NYU Center for Data Science</b> in 2024 and continued as an research intern in the <b>T</b>ext <b>A</b>nalytics and <b>M</b>achine <b>L</b>earning group led by Prof. Zhu. Last year, I collaborated with Rakuten and published my very first work on agent-based tool-use in EMNLP24 Industry Track.
</p>

<!-- <h3 class="archive__subtitle">{{ "site.data.ui-text[site.locale].recent_posts | default: "Latest News"" }}</h3> -->
<h3 class="archive__subtitle">{{ "Latest News" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<!-- <div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div> -->

<div>
  <ul>
    <li>My <a href="https://openreview.net/pdf?id=1HLwSpJZCh"> latest paper </a> recently got accepted at the ICML 2025 World Models Workshop. </li>
    <li>My <a href="https://aclanthology.org/2024.emnlp-industry.59.pdf"> first paper </a> titled "SMARTCAL: An Approach 
      to Self-Aware Tool-Use Evaluation and Calibration" got accepted to EMNLP 24 Industry Track. </li>
    <!-- <li>Item 2</li>
    <li>Item 3</li> -->
  </ul>
</div>


<div class="entries-{{ tags_layout }}">
  {% include page__taxonomy.html %}
</div>

{% include paginator.html %}
